.favourites-title, .movie-details-title {
  text-align: center;
  padding-left: 16px;
  padding-top: 5px;
}

.favourites-container, .movie-details-container {
  max-width: 80%;
  &part {
    background-color: #fca311;
    color: #001219;
    margin: -1px;
  }
}

.favourites-close-button, .movie-details-close-button {
  background-color: #001219;
}

.overlay-addFavorites {
  font-size: 16px;
  margin-right: 5px;
}

.remove-favourites {
  color: #ffffff;
  font-size: 15px;
}

.no-favourites,
.no-watched {
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
}

.alert-added-favourites {
  width: 300px;
  margin-right: 50px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  display: none;
}

.alert-added-watched {
  width: 250px;
  margin-right: 50px;
  text-align: center;
  padding: 5px;
  margin-bottom: 0;
  display: none;
}

.alert-remove-favourites {
  width: 250px;
  margin-right: 20px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  display: none;
}

.details {
  width: 350px;
}