.image-container {
  position: relative;
  transition: transform 0.2s;

  img {
    width: 250px;
    height: 400px;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    .img-overlay {
      opacity: 1;
    }
  }

  .img-overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    width: 200px;
    text-align: center;
    transition: ease 0.5s;
    opacity: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
  }
}

.movies-overlay {
  width: 92.2%;
}

.favourites-movies, .watched-movies {
  width: 100% !important;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  &__is-watched {
    position: absolute;
    display: none;
  }
}
