body {
  background-color: #001219;
  color: #ffffff;
}

.movies-container > .row {
  overflow-y: auto;
  flex-wrap: nowrap;
  padding: 0;
}

.movies-container > .search-results {
  overflow-y: hidden;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}


.auto-w {
  width: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container img {
  width: 100%;
  height: 400px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  transition: ease 0.5s;
  opacity: 0;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.movies-overlay {
  width: 92.2%;
}

.icons {
  width: auto;
}

.icon-favourites svg, .icon-watched svg {
	cursor: pointer;
}

.favourites-title {
  color:#001219;
  text-align: center;
}