body {
  background-color: rgb(43, 24, 24);
  color: white;
}

.movies-container > .row {
  overflow-y: auto;
  flex-wrap: nowrap;
  padding: 0;
}

.movies-container > .search-results {
  overflow-y: hidden;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}


.auto-w {
  width: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  width: 92.5%;
  transition: ease 0.5s;
  opacity: 0;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.icons {
  width: auto;
}

.icon-favourites svg {
	cursor: pointer;
}