body {
  background-color: rgb(43, 24, 24);
  color: white;
}

.movies-container > .row {
  overflow-y: auto;
  flex-wrap: nowrap;
  padding: 0;
}

.movies-container > .search-results {
  overflow-y: hidden;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
